# Auto detect text files and perform LF normalization
* text=auto

# exclude .gitignore and similar from the generated tarball
.git*           export-ignore

# exclude license and readme file
LICENSE         export-ignore
README.md       export-ignore
