/*addon-specific-themes*/
pre[class*="language-"].line-numbers {
	position: relative;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	/*left: -3.8em;*/
	/*left: calc((var(--width_line_number_box) * 2 * -1));*/
	left: calc((var(--width_line_number_box) * 2.2 * -1));
	width: var(--width_line_number_box);
	/*width: 3em;*/ /* works for line-numbers below 1000 lines */
	/*letter-spacing: -1px;*/
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows > span {
	margin-top: 0px;
	
	/*line-height: 1.7;*/
	line-height: var(--line_height_code);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	
	
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span::before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}

/*Place code and inserted line numbers; withouth line numbers plugin, tab-size: 0 should be enough*/
/*Unsatisfying solution, because it feels like im reverting values of the external css stylesheet*/

:root{	
	--width_line_number_box: 2.5em;
}

:root:has(#field2){
	/*needed because for some reason, on the textfield card four tab characters are inserted by prismjs instead of just one*/
	--divider: 4;
}

body pre[class*="language-"].line-numbers {
	padding-left: var(--width_line_number_box) !important;	
}

.line-numbers [class*=language-], pre[class*=language-].line-numbers {
    -moz-tab-size: var(--width_line_number_box) !important;
    -o-tab-size: var(--width_line_number_box) !important;
    tab-size: var(--width_line_number_box) !important;
}

:root:has(#field2) .line-numbers [class*=language-], :root:has(#field2) pre[class*=language-].line-numbers {
	-moz-tab-size: calc(var(--width_line_number_box)/var(--divider)) !important;
	-o-tab-size: calc(var(--width_line_number_box)/var(--divider)) !important;
	tab-size: calc(var(--width_line_number_box)/var(--divider)) !important;
}

.line-numbers span:first-of-type{
	margin-left: calc(var(--width_line_number_box) * -1) !important;
}